[2015-04-28 16:22] genio opened #1 "ffmpeg too chatty"
FFMPEG dumps lots and lots of stuff to stderr.  Adding -loglevel panic into the mix quietens that down quite a bit, but also causes node-rtsp-stream to stop functioning as it should when run as a service via systemd.

Application

[code]

systemd config file

[code]

If I'm being dumb, please don't hesitate to point that out as I'm dumb quite often.  I just don't like filling up /var/log/messages

[2015-04-29 02:22] kyriesent commented on #1
@genio you're right; it's pretty verbose. I was trying to get as much debug data as I could at the time so I didn't mind it.

What exactly isn't working when you systemd-ize it? Is the client socket not picking up the data? Does it work without `-loglevel panic`? I can't imagine log levels changing the way that the app behaves with the websockets.

The library as-is is probably not really ready to

[2015-12-18 15:23] out4b commented on #1
Hi, I'm using this library to stream video from an ONVIF camera to jsmpeg. I have the similar problem that if adding ```-loglevel panic``` to ffmpeg option, it will give me below error:

[code]

[2016-01-12 07:36] taimooralam opened #2 "Does this include audio?"
Is there an option to play audio in browser? The audio codec in AAC.

[2016-01-15 01:36] kyriesent commented on #2
Unfortunately, this library doesn't support audio. JSMPEG is a purely
graphical library.

If you know of any libraries that can take audio over websocket and play
it, feel free to fork. However, chances are there are technologies
dedicated to streaming audio that will do that a whole lot better.

On Tue, Jan 12, 2016 at 2:36 AM, Taimoor Alam <notifications@github.com>
wrote:

--
What good is it if

[2016-01-30 12:51] kmax1940 opened #3 "Is there a demo?"
Hello, is there a live demo of this working? Someone I know was going to use this but they said the video quality was not good.  I wonder if it might have been something they were doing so I would like to see someone else's implementation of this.

[2016-02-18 03:30] kyriesent commented on #3
For jsmpeg quality demos, head over here:
https://github.com/phoboslab/jsmpeg . Notably:
http://phoboslab.org/files/jsmpeg/

Unfortunately there isn't a demo of this particular library and there's not
a lot of time on my hands right now to put one together.

Quality will largely depend on the compression rate you use in ffmpeg for
compressing the video. Feel free to fork and experiment.

On Sat, J

[2016-02-23 04:14] pipecivil opened #4 "I don't know why buffer error"
buffer.js:784
    throw TypeError('value is out of bounds');
          ^
TypeError: value is out of bounds
    at TypeError (<anonymous>)
    at checkInt (buffer.js:784:11)
    at Buffer.writeUInt16BE (buffer.js:819:5)
    at VideoStream.onSocketConnect (/home/ubuntu/nrs/node_modules/node-rtsp-stream/lib/videoStream.js:110:18)
    at WebSocketServer.<anonymous> (/home/ubuntu/nrs/node_modules/node-

[2016-02-23 13:46] kyriesent commented on #4
Looks like you're passing in an invalid value for `options.width` or `options.height`. You should probably confirm that you're configuring correctly, configuration keys are right, etc.

[2016-02-24 03:51] pipecivil commented on #4
Thankyou for your reply
I will test

how about latancy

[2016-03-25 07:02] susheel61 opened #5 "No option to close the socket"
I have a requirment where I need to shutdown the socket and start again on every request as the stream urls might change. Or let me know if there is an option to stop creating new instance again and again which is giving me port already in use error.

[2016-03-25 10:58] susheel61 commented on #5
i just used stream.wsServer.close();

[2016-03-25 10:58] #5 closed

[2016-05-20 04:38] 3t-dev opened #6 "Failded to setup RTSP stream server"
Dear @kyriesent , I have a issue when setup rtsp stream server.
My code stream-server.js:
`Stream = require('node-rtsp-stream');`
`stream = new Stream({`
    `name: 'name',`
    `streamUrl: 'rtsp://192.168.83.47:8554/faded',`
    `wsPort: 9999`
`});`
That rtsp url is working properly on VLC Player.
When I start server with `node stream-server.js`, It's failed and show error ouput as below:
ffmpeg

[2016-05-23 00:09] kyriesent commented on #6
@3t-dev I'm not sure from the output. I'm not really an expert in reading FFMPEG errors/output, but from the looks of it it's having trouble reading rtsp.

Does it work for you when trying another rtsp stream source, like [this test](https://github.com/kyriesent/node-rtsp-stream/blob/master/test/tests.coffee)? If it's not working for that either, you might need to recompile FFMPEG to make sure it

[2016-05-23 17:21] 3t-dev commented on #6
Thanks you for reply, I have tried your test, but it's same error.
Maybe that're problems of ffmpeg library on my system and I must try to fix it.

[2016-06-02 05:58] harsh10c opened #7 "Stopped after 2-3 minutes"
I am able to rtsp stream (from IP Camera), but it stopped after approx. 2-3 minutes after displaying
this errorlines.

frame= 4164 fps= 29 q=11.8 size=   13929kB time=00:02:18.73 bitrate= 822.5kbits/
[h264 @ 00000000021f00a0] error while decoding MB 78 26, bytestream -5
[h264 @ 00000000021f00a0] concealing 1491 DC, 1491 AC, 1491 MV errors in I frame

frame= 4184 fps= 28 q=13.0 size=   14001kB time

[2016-06-03 00:56] kyriesent commented on #7
Error output doesn't seem especially clear so I'm not sure if I can help very much. Does this error happen every time you try to stream after 2-3 minutes? An `error while decoding` sounds like a corrupted data stream, but I can't know for sure. FFMPEG forums might be a better place to figure out what that error might mean.

As for this library, you might want to check for errors on the spawned chi

[2016-06-17 06:53] harsh10c commented on #7
Sorry for late reply.

Issue was due to network speed.

However, still after 1 or 2 hour , it breaks streaming even in excellent network speed.

[2016-06-17 16:36] kyriesent commented on #7
Thanks for letting me know. Are you still getting the same error? Any output?

[2016-08-08 20:27] modelga commented on #1
Hi, I've experiencing the same issue, did someone found a fix for that ?

[2016-08-20 00:25] kyriesent commented on #1
Unfortunately I haven't seen anything that would help. :disappointed: Seems like the videoStream is trying to write a value to the Buffer that is invalid. But without knowing what that value is, I'm afraid I can't do much.

You could try to add a sanity check to the Buffer write, and discard values that are out of bounds. But unfortunately beyond that I'm not sure what will help. Sorry!

[2016-08-24 11:57] alioguzhan opened #9 "wss support?"
Hi,
Thank you for this lib.

For production, chrome does not allow `ws://` request if web site is `https://`. All connections should be secure.

Is there any workaround for this?

[2016-09-10 13:49] kyriesent commented on #9
You'll need to look into whether https://github.com/websockets/ws supports
wss or not. I haven't looked into it at all. Hope you get something figured
out!

On Wed, Aug 24, 2016 at 7:57 AM, Ali Oğuzhan Yıldız <
notifications@github.com> wrote:

--
What good is it if a man gains the entire world, yet forfeits his soul?

[2016-09-14 18:53] alioguzhan commented on #9
well, i made a workaround for this. after make that clear and proper i will create a pull request.

[2017-02-13 12:06] mtvbrianking commented on #6
If you're getting Error: `Uncaught Sync Token not found`, I it's mostly to be an issue with jsmpeg and its address [here] (https://github.com/phoboslab/jsmpeg/issues/112)

[2017-07-25 10:33] Spaarw opened #10 "JSMpeg: Possible garbage data. Skipping."
Hi,
Thanks for this module.

I got this client error when implemented your example
![image](https://user-images.githubusercontent.com/20125069/28568082-dca6cd02-7134-11e7-8c6d-51d7e277bb67.png)

This is my Server side
![image](https://user-images.githubusercontent.com/20125069/28568193-31509c0c-7135-11e7-9a8a-f28ff5b92f9c.png)

This is my Client side
![image](https://user-images.githubusercontent.

[2017-07-25 12:30] Spaarw commented on #10
Solved ! :)

My problem was a version problem, I had to use V0.1 of [jsmpeg](https://github.com/phoboslab/jsmpeg), and not V0.2
https://github.com/phoboslab/jsmpeg/releases

[2017-07-25 12:30] #10 closed

[2017-11-02 12:47] shivangidas opened #11 "How to close the socket and stop ffmpeg?"
stream.wsServer.close() - as suggested in one of the closed issues, doesn't stop the FFmpeg. The FFmpeg(s) keeps running in the background. How can I close the socket and stop FFmpeg, too?

[2017-11-12 02:24] kyriesent commented on #11
You'll need to kill the child process manually.

`stream.mpeg1Muxer.stream` is a child process that is running ffmpeg. You can see it instantiated in the code [here](https://github.com/kyriesent/node-rtsp-stream/blob/3a0dfbf6bd6bc4280da572b2e331b49f413e3de8/src/mpeg1muxer.coffee#L10).

If you are done with the video stream, then you can simply kill the child process and it will stop ffmpeg.

You w

[2018-01-10 07:12] #11 closed

[2018-02-19 09:58] justkrevedko opened #12 "About ffmpeg auto-restarting"
Is there a simple way to restart the stream if the ffmpeg process terminates unexpectedly?

[2018-07-11 09:05] parazitexe commented on #12
Hi. Do you have any solution for it?
I have a same issue, need to restart stream.
I think we can use something like this code
[code]
and modify _videoStream.js_ and _mpeg1muxer.js_ files

[2018-07-11 16:45] justkrevedko commented on #12
@parazitexe, I added handler on 'exit' of child process with ffmpeg to exit main stream process. After I configured this [pm2](http://pm2.keymetrics.io/) to restart stream.
Sorry, but I don't have code sample for you.

[2018-07-12 15:43] abdkaviani opened #13 "Stream Multi Channel"
Hello

This project is very  interesting and useful for me
But can I stream multi channel by this way?

Thanks a lot

[2018-07-12 19:45] kyriesent commented on #13
Hi @abdkaviani, I'm not sure what you're referring to by multichannel. Can you elaborate or link to a description of what you mean? Thanks!

[2018-07-12 19:53] kyriesent commented on #12
@parazitexe @justkrevedko Thanks for the interest in the project! I'd be happy to take a pull request to implement. I'm currently unable to work on this much with other life things.

The problem with having the stream restart automatically is that there are several reasons why a stream might close, so you'd probably have to handle multiple cases, e.g, the stream is gone, the network is interrupted

[2018-07-12 19:55] kyriesent commented on #1
Stale issue, closing.

[2018-07-12 19:55] #1 closed

[2018-07-12 19:55] #2 closed

[2018-07-12 19:55] #3 closed

[2018-07-12 19:56] kyriesent commented on #4
Stale issue, closing.

[2018-07-12 19:56] #4 closed

[2018-07-12 19:56] kyriesent commented on #6
Stale issue, closing.

[2018-07-12 19:56] #6 closed

[2018-07-12 19:56] kyriesent commented on #7
Stale issue, closing.

[2018-07-12 19:56] #7 closed

[2018-07-12 19:56] kyriesent commented on #9
Stale issue, closing.

[2018-07-12 19:56] #9 closed

[2018-07-12 20:57] abdkaviani commented on #13
Hi

In your project and server side...
StreamUrl is equal to 'rtsp://184.72.239.149/vod/mp4:BigBuckBunny_115k.mov' and wsPort is 9999,

I want to "server.js" streaming two or more RTSP URL in the same port & client displays two or more video, for example:

On server:
 `stream = new Stream({
    name: ['name','name2'],
    streamUrl: ['rtsp://184.72.239.149/1.mov','rtsp://184.72.239.149/2.mov'],

[2018-07-13 01:22] kyriesent commented on #13
@abdkaviani I see. What you'll want to do is create two `new Stream`s. Each of them will need to utilize a separate `ws` port, and there will be two JSMpeg clients on the frontend.

[2018-07-13 04:01] abdkaviani commented on #13
Thanks my friend,

And can you tell me, How I can change `child_process.spawn` values in server side programmatically, for example

`stream = new Stream({
    name: 'cam2',
    streamUrl: 'rtsp://184.72.239.149/vod/mp4:BigBuckBunny_115k.mov',
    wsPort: 9998,
    stream: 30k (instead of 800k)
});`

[2018-07-13 15:06] kyriesent commented on #13
Unfortunately, those are hardcoded in. https://github.com/kyriesent/node-rtsp-stream/blob/master/src/mpeg1muxer.coffee#L10 is where you would want to fork and change the code. If you are going to be changing these values a lot, then I would just pass in a "mpeg1options" key to the `Stream` and pass it down to the `Mpeg1Muxer`. Hope that helps!

[2018-07-14 11:05] abdkaviani commented on #13
Thank you very much
I hope I can do this

[2018-10-07 15:34] abdkaviani opened #15 "Capture"
Hi again

Now, I'm monitoring DVR camera by your project through web. It's Perfect
I have a question. Can I capture from stream video and save it as jpg, for example every 1 min?

Thanks a lot

[2018-10-07 18:32] kyriesent commented on #15
You can't do that with this library. I'm not sure what would be the best way to do it. I would look into ffmpeg and/or imagemagick. Both of them have support for converting videos into other formats, and I'm pretty sure at least one of them will be able to do what you're looking for.

[2018-10-07 18:32] #15 closed

[2018-11-19 08:20] Moondog360 opened #17 "README.md syntax fix."
Noticed that the example code was complaining about "Websocket" not being defined on the client.js script. Just thought of pointing out that "Websocket" needs to change to "WebSocket". :)

[2018-11-25 00:00] kyriesent commented on #17
Fixed, thanks!

[2018-11-25 00:00] #17 closed

[2018-11-25 04:30] ajbogh opened #19 "Suggestion: Convert from coffeescript to Typescript or ES6 for additional community involvement"
There are a ton of Javascript developers in the NodeJS and frontend world that would support a project like this. Coffeescript can be confusing to use when compared to regular JS. Not only is it an entirely different syntax, it doesn't even use the same variables (`@` instead of `this`). It's also a rarely used language in professional environments, as most people are migrating toward Typescript f

[2018-11-29 22:53] kyriesent commented on #19
@ajbogh I'm happy moving this over to JS now. When I started this project ES6 wasn't out the gate yet, but with the improvements they've made to scoping and async handling it's probably about time to move this over.

My only concern with TypeScript is that, like all transpiled languages, it may suffer a similar fate to CoffeeScript in a few years, and if we're going to make the move I'd rather onl

[2018-11-30 00:02] ajbogh commented on #19
I'll look into addressing this after #20 gets merged.

[2018-12-05 08:47] yingqiang006 opened #21 "Why does node call three ffmpegs"
There are three ffmpegs in the task manager

[2019-01-03 03:52] tanbing0809 opened #22 "how to set the ffmpegPath"

[2019-01-03 03:53] ctrlMySoul commented on #22
i will use it in electron , i want set the path , please help me

[2019-01-04 02:20] kyriesent commented on #21
HI @yingqiang006, I'm not seeing the same issue using the test code from the documentation. Each stream that you use will invoke ffmpeg a separate time. I'm not sure that ffmpeg is able to simultaneously handle multiple streams and output them to different destinations all from one invocation.

If this doesn't help, can you paste in some source code to reproduce the error?

[2019-01-17 05:51] codezealot opened #23 "could it support 4k video ?"
my video is 4096x2160 , cannot play it:

=====================================
Input #0, rtsp, from 'rtsp://xxxxxxx/.trunk.ts':
Metadata:
title : MPEG Transport Stream, streamed by the LIVE555 Media Server
comment : long.trunk.ts
Duration: N/A, start: 1.400000, bitrate: N/A
Program 1
Metadata:
service_name : Service01
service_provider: FFmpeg
Stream #0:0: Video: mpeg4 (Simple Profile) ([16][0][0][

[2019-01-17 17:21] kyriesent commented on #23
@codezealot Unfortunately this is going to be a limitation of the MPEG-1 format. If you can resize the output format using ffmpeg flags in the options, you might be able to make this work. MPEG-1 is an old and not especially efficient format, but it's what [jsmpeg](https://github.com/phoboslab/jsmpeg) uses, so that's why it's necessary.

[2019-01-29 12:44] gsanz opened #24 "When executing ffmpeg I obtain : No such file or directory"
Hello when I execute the following stream of the example:
    stream = new Stream({
      name: 'name',
      streamUrl: 'rtsp://184.72.239.149/vod/mp4:BigBuckBunny_115k.mov',
      wsPort: 9999,
      ffmpegOptions: { // options ffmpeg flags
        '-stats': '', // an option with no neccessary value uses a blank string
        '-force_fps': 30, // options with required values specify the value a

[2019-02-10 14:26] nehoraigold commented on #24
I'm getting the same error. Any help would be appreciated!

[2019-02-12 16:36] kyriesent commented on #24
Hi @gsanz and @nehoraigold, I managed to take a look at it and I think the `ffmpegOptions` are causing an issue. If you try using it without the options, the error should go away.

I'll need to take a look at trying to fix the options, but you can try that in the meantime and see if it helps!

[2019-02-17 03:49] kyriesent commented on #24
Fixed by #25

[2019-02-17 03:49] #24 closed

[2019-02-17 03:49] kyriesent commented on #23
Closing issue for now.

[2019-02-17 03:49] #23 closed

[2019-02-17 03:50] kyriesent commented on #21
Closing for now; let me know if this resurfaces!

[2019-02-17 03:50] #21 closed

[2019-03-26 14:02] anllyksell opened #28 "Error: spawn ffmpeg ENOENT"
Hello,

First, thank you for your effort. When I try to run my serverside api.js I always get 'Error: spawn ffmpeg ENOENT' error. I couldn't find a solution. I use Windows pc. Does it matter ? If you can respond I wil be really glad.

[2019-03-26 14:03] anllyksell commented on #28
And my api.js code is this :

Stream = require("node-rtsp-stream");
stream = new Stream({
	name: "name",
	streamUrl: myurl,
	wsPort: 9999,
	ffmpegOptions: {
		// options ffmpeg flags
		"-stats": "", // an option with no neccessary value uses a blank string
		"-r": 30 // options with required values specify the value after the key,
	}
});

[2019-03-26 23:28] kyriesent commented on #28
ENOENT usually means that node is trying to run a command that doesn't exist. Are you sure you have ffmpeg installed?

On Tue, Mar 26, 2019, at 10:03 AM, anllyksell wrote:

[2019-03-27 07:28] anllyksell commented on #28
It was and its path was clear. I'm using Windows. On Linux without needing anything else it worked. But on Windows I needed to put ffmpeg.exe into project folder. I didn't understand why it was different on differend os. But it worked. You can close issue if you want. Thank you for your response :)

[2019-03-30 19:26] waleedmazhar opened #29 "Getting Installation error"
[code]

[2019-04-05 09:08] msj-fr opened #30 "No image and warnings"
Hello,

Firs tof all thanks for this code, its exactly what I was looking for.

One remark, you code is no longer aligned with jsmpeg library. I had to find older versions of jsmpeg lib for the code to work .... The minified version does not suppor sending a websocket as an argument.

I am trying to use your code to display a FOSCAM IP webcam I have at home though a rapsberry pi.
I have a nodejs e

[2019-04-08 04:59] amazing-wood commented on #28
Same problem，using windows and cannot find the ffmpeg，but I dont wanna copy ffmpeg.exe to the project folder. How could I set the config to let the project find the ffmpeg?

[2019-04-22 23:17] lbarkley1 commented on #1
Firstly, I love how easy you have made it to stream an RTSP stream using node. I am getting a similar error to the other fellas - works fine when loglevel = info, but dropping it by a single log level (logLevel = error) the stream stops working without any errors stating why. The only output I get from this is within the browser:

[.WebGL-000002028C8DFBB0]RENDER WARNING: texture bound to texture u

[2019-05-09 09:53] Noelfhim commented on #22
Hi,

I needed to set this path and also to override the "-f mpeg1video" parameter so I made some changes in my version.

I can submit this changes to you if want in a pull request. I made them in order to have backward compatibility.

[2019-05-15 01:41] kyriesent commented on #30
@msj-fr thanks for the info. I haven't actually tried to use this with a newer version of jsmpeg. Is it only the minified version that doesn't work?

It might be from your error message that "Your Browser does not supprt Canvas" Have you tried using a modern browser? Most of them should have Canvas support.

[2019-05-15 01:42] kyriesent commented on #29
I'm not sure what these warnings are but it looks like it may have something to do with your package.json location, and not with this library.

The vulnerability issues should be patched by the next update to npm, so I am closing now.

[2019-05-15 01:42] #29 closed

[2019-05-15 03:35] kyriesent commented on #19
Finally moved the codebase over to vanilla JS. Closing.

[2019-05-15 03:35] #19 closed

[2019-05-15 04:09] kyriesent commented on #30
I've updated the codebase to work with the latest jsmpeg. Hope this helps! Closing.

[2019-05-15 04:09] #30 closed

[2019-05-15 04:10] #12 closed

[2019-05-15 04:17] msj-fr commented on #30
Hello,

Thank you for replying, I have tried with both minified and updated version
of the library. I get the same errors. I am testing using latest version of
chrome.

Here is what I am trying to achieve :

IP Camera (onvif) => Raspberry Pi <= localrunnel <= browser

I get the expected web page in the browser but I seem te get garbage frames.

I have gotten it to work with other solutions, but th

[2019-05-16 23:53] kyriesent commented on #30
Are you using version 0.0.8 of node-rtsp-stream? Anything before that is going to fail with the new JSMPEG.

I have never been able to get <1s delay with this solution. I'm not sure what the bottleneck is and haven't invested serious time into figuring it out. It could be FFMPEG, it could be Node, it could be ws, it could be decoding video in JS browser side. Not sure unfortunately.

I was able to

[2019-05-20 15:02] SirSaar opened #34 "Add option for wsHost"
https://github.com/kyriesent/node-rtsp-stream/blob/d2bb3f5a34e7b556045ecbc561165d9e8315038d/videoStream.js#L19

when you want to use several sockets on the same server you must use this option in order to segment each Websocket to diffrent Url.
Correct me if i'm wrong.

[2019-05-24 11:06] stefaneli31 opened #35 "ReferenceError: i is not defined"
Commit dd5cffac7877fc911ec8de5a867dcb1b3eccda1f introduced a new bug where variable i is not defined in videoStream.js file line #103.

[2019-05-24 13:38] cdian opened #36 "Passing ffmpegOptions"
When passing additional loglevel parameter, the streaming stop working and could not get rendered within a browser canvas. Only with one parameter it is working fine.

 ffmpegOptions: {
                "-vb": "20000k",
                "-loglevel": "quiet"
            },

[2019-06-04 09:49] xabberd opened #37 "How to use node-rtsp-stream with https connections? Since this package uses websockets internally, where do we mention configutations for "wss"?"

[2019-06-05 10:11] #36 closed

[2019-06-05 10:12] cdian commented on #36
node-rtsp-stream depends on logging output on stderr pipe ;)

[2019-07-04 09:15] cdian commented on #37
Look in videoStream.js and do the following.

const server = https.createServer({
    cert: fs.readFileSync('./cert/backend.foobar.com.public.pem'),
    key: fs.readFileSync('./cert/backend.foobar.com.private.pem'),
  }, function (req, res) {
    console.log(new Date() + ' ' +
      req.connection.remoteAddress + ' ' +
      req.method + ' ' + req.url);
    res.writeHead(200);
    res.end("hello f

[2019-07-08 04:13] xiaojinhe2 opened #38 "Does this module support RTSP authorization verification?"
Some cameras' RTSPs require authorization to access them. Now this module seems to be not authorized to access RTSP.

[2019-07-10 15:14] einerixcode commented on #37
my wss server working but i dont get frames with jsmpeg and html

[2019-07-11 09:26] akashhnag opened #39 "blurry video stream"
This particular version (0.0.8) gives blurry videos. The problem gets solved if I use version 0.0.5.

[2019-07-26 00:08] kyriesent commented on #39
Hm, not sure how to diagnose this. My quickest guess would be a change in ffmpeg options; the data coming through should otherwise be the same.

JSMPEG should also be decoding roughly the same.

Do you have a sample video stream to point to that you've seen this happen with?

[2019-07-26 00:10] kyriesent commented on #38
I think you can do this in the rtsp:// url.

https://stackoverflow.com/questions/27223873/set-username-password-in-rtsp-url#46825436

[2019-07-26 00:10] #38 closed

[2019-07-26 00:10] kyriesent commented on #38
This is really a question about ffmpeg, not this module.

[2019-07-26 00:16] kyriesent commented on #37
Unfortunately this module isn't designed to use wss right now. If this grows as a request I will look into adding it. It would be great to have, but for now I'm not sure I can dig into it. Thanks for the suggestion though!

[2019-07-26 00:17] kyriesent commented on #35
Fixed in #40

[2019-07-26 00:17] #35 closed

[2019-07-26 00:20] kyriesent commented on #34
Are you asking how to create multiple streams? You can use a different port for each stream, and they can all live on the same host.

There isn't any action to be taken here, so closing for now.

[2019-07-26 00:20] #34 closed

[2019-07-26 00:22] kyriesent commented on #22
@Noelfhim sorry for the delay, but if you're still open to making a pull request I'd be happy to review it. Thank you!!

[2019-07-26 03:49] JudyCCC commented on #28
how to get ffmpeg.exe?

[2019-07-26 09:35] JudyCCC commented on #28
I got it, thank you

[2019-07-30 19:41] decioschmitt commented on #39
I had the same issue.

[2019-08-02 13:32] pooyasa commented on #39
I managed to load buckbunny on 0.0.5 but The problem with it, is it cannot connect to my camera. though 0.0.8 and vlc player work perfectly.

Here's the error:
`
[rtsp @ 0x1ad7410] Nonmatching transport in server reply
rtsp://[USER]:[Password]@192.168.1.100:554/onvif2: Invalid data found when processing input
RTSP stream exited with error
`

[2019-08-02 14:15] pooyasa commented on #39
![image](https://user-images.githubusercontent.com/50808977/62376354-b3820100-b555-11e9-8ee8-18adaae76cb0.png)

[2019-08-12 13:35] chakya opened #43 "Missed Packets"
Sometimes I received a lot of missing packets. My client browser will just turn grey. This happens a lot. I have set the -max_delay to 100000 but it is still happening. Any reason why this happened?
[code]

[2019-08-14 08:55] qahtansaid opened #44 "Restart Stream If RTSP back online"
Hi I'm a beginner . I want to make reconnection if RTSP back online without restarting node server, i've tried with PM2 and forever but it restart the node server and ffmpeg terminal keeps popping out. Help pls

[2019-08-21 11:26] TKasperczyk commented on #43
Add

[code]

to the ffmpeg options (node_modules/node-rtsp-stream/mpeg1muxer.js).

[2019-08-21 11:36] TKasperczyk commented on #39
I'm also having this problem. The ffmpeg process in my case looks like this:
`ffmpeg -rtsp_transport tcp -thread_queue_size 512 -r 30 -i rtsp://1.2.3.4:554/profile2 -f mpegts -codec:v mpeg1video -stats -r 30 -`

To test if it's a problem on the ffmpeg part, I changed the output to `output.mp4` and then played the file through VLC. Everything looked fine. I guess there's something wrong either with

[2019-09-05 14:04] einerixcode commented on #37
Sorry for my late answer. I have use your code for wss and now its work with jsmpeg.
Thanks for support. :)

[2019-11-06 03:14] felipebutcher commented on #44
this is working out of box for me. if i kill the server and run again the stream continues automatically.

[2019-11-08 21:01] alphabin commented on #37
So does this mean this will only still work on http sites? Sorry for the confusion but I would love to learn how to get it going on https.

[2019-11-12 05:22] sandeepipatel86 opened #45 "Possible to support multiple video streaming?"
The current code work absolutely great for streaming single video camera. For adding new camera, I have to run a new server i.e. I have to copy the script, update the RTSP link and port in it and then start the new server.

Is there any way where a single script will allow for streaming multiple cameras? That is I can use the same port number for streaming the video/camera of user's choice.

I hav

[2019-11-21 10:07] alphabin commented on #37
Figured it out hopefully it can help another! The issue was solved using a wss with a slight modification.

Inspired by this

[Wss implemetation](https://github.com/websockets/ws#multiple-servers-sharing-a-single-https-server
)

Sample index.js for node

[code]

Also changed it up a little on the **_videoStream.js_** as well, what this is doing is making a Websocket Server without a port

[code]

[2019-11-27 22:08] gabrielcavalari commented on #45
Take a look to this implementation for SSL (https://github.com/kyriesent/node-rtsp-stream/issues/37#issuecomment-557012760) I think it will also work for your problem.

[2019-12-13 04:11] xwOOtx opened #46 "error when hosting on microsoft azure"
Hi,

I am able to run my nodejs application locally on a windows pc.

making use of node-rtsp-stream, backend retrieve a RTSP stream online and my front end display the stream.

however I am having trouble after deploying it into microsoft azure, seeing Error: spawn ffmpeg ENOENT in my azure's log. (I have also tried to include ffmpeg.exe into my app)

How should i go about 'installing' FFMPEG for

[2019-12-20 07:46] xwOOtx commented on #46
will appreciate it if anyone can advice on this.

Thanks

[2020-01-03 15:20] eeertekin opened #47 "NPM version v0.0.8"
Hey,

Could you please push a new version to NPM?

Latest version is [v0.0.8](https://www.npmjs.com/package/node-rtsp-stream) on NPM but it has errors that lead to crash on server.
It's already fixed on master branch but package is not available on NPM.

Thank you!

https://github.com/kyriesent/node-rtsp-stream/commit/4c82465e5c6b50524ea416b2f5779a062e678be0#diff-9ff6f769dd6b0da8294d5320b34c5987

[2020-01-21 00:38] felipebutcher commented on #46
just install ffmpeg... check if you are able to run "ffmpeg" on the command line

[2020-01-30 01:54] shealan commented on #22
@regisgrison could you submit a pull request? Setting the ffmpeg path would be invaluable for Electron developers that want to embed ffmpeg in their application binaries.

[2020-01-30 09:22] regisgrison commented on #22
Sorry, I did not saw @kyriesent message.

Now I have to find the version where I made the changes. I'll try to do it as quick as possible.

[2020-01-30 09:41] shealan commented on #22
@regisgrison thank you so much :)

[2020-02-04 13:40] NatanGuardicore opened #48 "wss not working"
Hi,
after deploying it to my server (heroku) , it doesn't work because it requires a secure connection wss.
someone managed to solved it?

[2020-02-06 02:43] xwOOtx opened #49 "websocket connection error"
Hi,
i am getting a "websocket connection to 'ws://localhost:9999/' failed" when I try to browse it on a browser. what ip/url should i configure for both ffmpeg config and jsmpeg?

Thanks

[2020-02-11 16:32] regisgrison commented on #22
Pull request done.

I did not commit -f override because it has changed since I did it and I don't think it was the change you asked for.

[2020-02-12 03:03] shealan commented on #22
@regisgrison thank you!

[2020-02-12 14:29] kyriesent commented on #49
Not sure what the problem is, but see example:

[code]

The `wsPort` option must match whatever port you use in browser. Beyond this I'm not sure what other things might help. Thanks!

[2020-02-12 14:30] kyriesent commented on #48
I haven't looked much into using wss with this. If you find a solution please feel free to add a PR. Thanks!

[2020-02-12 14:32] kyriesent commented on #22
Closed by #50

[2020-02-12 14:32] #22 closed

[2020-02-12 14:32] kyriesent commented on #28
Should be closed by #50

[2020-02-12 14:32] #28 closed

[2020-02-12 14:33] kyriesent commented on #49
Also look at #37 I think someone posted a solution there.

[2020-02-12 14:34] kyriesent commented on #39
Thanks again @TKasperczyk !

[2020-02-12 14:34] #39 closed

[2020-02-12 14:37] kyriesent commented on #43
@TKasperczyk thank you!!

This should also be addressable using `ffmpegOptions` option on the library, in case modifying source isn't your thing.

[2020-02-12 14:37] #43 closed

[2020-02-12 14:40] kyriesent commented on #45
Thanks @gabrielcavalari!

[2020-02-12 14:40] #45 closed

[2020-02-12 14:41] kyriesent commented on #37
@alphabin Thanks so much! This is great! Closing issue for now.

[2020-02-12 14:41] #37 closed

[2020-02-12 14:41] kyriesent commented on #46
@xwOOtx closing for now. If you still have questions on this you can continue to comment.

[2020-02-12 14:41] #46 closed

[2020-02-12 14:42] kyriesent commented on #48
@NatanGuardicore if you haven't already, take a look at #37 that will probably get you going in the right direction.

[2020-02-12 14:45] kyriesent commented on #47
@eeertekin v0.0.9 is now available. Thanks for your patience!

[2020-02-12 14:45] #47 closed

[2020-03-11 03:13] #49 closed

[2020-03-11 03:18] xwOOtx opened #51 "JSMpeg player not showing"
Hi, I am able to run the project successfully.  I am now trying to adapt it into an angular project. adding the client code in component.html doesn't show the jsmpeg player canvas. I got no errors in console.
my ws server stream is working as I am able to stream using the same client code on another non angular .html.

Thanks

[2020-03-12 12:22] joeyskeys opened #52 ""startMpeg1Stream is not a function" error"
hi guys,
I'm trying to use node-rtsp-stream and got following error on my web page.

    TypeError: this.startMpeg1Stream is not a function

    at VideoStream (D:\Repos\floss\ffmpegToWeb\node_modules\node-rtsp-stream\videoStream.js:22:8)

    at D:\Repos\floss\ffmpegToWeb\server.js:20:14

    at Layer.handle [as handle_request] (D:\Repos\floss\ffmpegToWeb\node_modules\express\lib\router\layer.js:

[2020-03-12 12:37] joeyskeys commented on #52
just checked the source code, line 22 of videoStream.js is
'this.startMpeg1Stream()'
which is defined later in line 36, I'm totally new to js, but this looks correct to me, can anyone help?

[2020-03-26 16:04] dmwhw opened #53 "-rtsp_transport tcp need to put before '-i'"
-rtsp_transport  tcp need to put before '-i'.but options all put behind ‘-i’

[2020-04-09 00:46] jhanmarc commented on #39
Thank you @TKasperczyk !

[2020-04-11 01:21] labmorales commented on #53
Submitted a fix with those parameters #54

[2020-04-11 09:32] 3mber commented on #52
i think you forgot to create an object from instance.
[code]

[2020-05-01 17:37] mmeyers-solartech opened #55 "Dynamically starting and stopping the server"
Is there a way for a client (I'm currently a JsmpegPlayer in react) to dynamically start and stop the server? Essentially I only want the node.js server to run when a client tries to play it, if nobody is trying to play it I want it to turn off. It looks like out of the box there's some handling to kill the stream and it can handle a loss of connection the actual RTSP server, but I was wondering i

[2020-05-01 18:25] mmeyers-solartech commented on #55
Closing this one: in videoStream.js the call to this.startMpeg1Stream() can be moved out of the constructor and into the onSocketConnect event.

[2020-05-01 18:25] #55 closed

[2020-05-03 11:32] spksoft opened #56 "How to stream multiple rtsp in the same port"
How to stream multiple rtsp in the same port ?

I have to stream multiple RTSP link from multiple RTSP and I have many client to view diferrent and multiple rtsp sametime. Is this lib support this case ?

[2020-05-04 09:43] yumna4 opened #57 "Creating Dockerfile for project"
Hi, I want to create a Dockerfile for the server side.

**I have the following in the rtsp-server.js file**

`Stream = require('node-rtsp-stream')
stream = new Stream({
    "name": 'name',
    "streamUrl": 'rtsp://user:pass@xxx.xx.xx.xx:xxx',
    "wsPort": 8082,

    "ffmpegOptions": { // options ffmpeg flags

      '-stats': '', // an option with no neccessary value uses a blank string
      '-r'

[2020-05-04 16:23] mmeyers-solartech opened #58 "Possible to get it off localhost?"
I notice that only client connections coming in via Localhost are recognized and served. The FFMPEG configurations seem to be using the standard defaults, but I was hoping to be able to recognize those client connections from either other devices on my local network or devices off network accessing via IP. These clients will end up being jsmpeg react components, Localhost jsmpeg components work sw

[2020-05-04 22:51] #58 closed

[2020-05-06 18:28] mmeyers-solartech commented on #37
I'm still having some major issues getting this to work. The provided instructions detailed aren't really clear on where things are supposed to go. I've generated certs but cannot get the first reply to function, the server just instantly closes.

[2020-05-06 19:39] mmeyers-solartech commented on #48
I'm definitely still hung up on this, I can't seem to get the advice in #37 to work. The advice is good and best practice (passing https server as constructor to ws server) but it's missing a few pieces and logistics that I can't quite seem to glue together. Any help is appreciated. The first reply on #37 is the approach I took but it's missing pieces like where to "listen" because as it is, that

[2020-05-07 15:12] mmeyers-solartech opened #59 "New request for native WSS support"
I've followed the information provided in I believe #37, to bury the ws server inside of a https server with certificates. This works for me but only under one condition. I have to access the server directly at https://IP:9999 to get the certificates in the browser. Then I can use my actual website to open up that wss:// connection. The server doesn't just listen for and accept an attempt to open

[2020-05-07 19:57] mmeyers-solartech commented on #59
This has been identified and solved. The issue is a bit tricky. Depending on where you're hosting the server, you will need to configure DNS so that you can register a REAL SSL/TSL certificate. You'll see in my example the cert.pem and key.pem are just some quick generated self signed certificates. I changed the way my server is hosted (gave it a domain) and generated a real key and cert with the

[2020-05-13 18:33] ivanantunes commented on #56
I have this same doubt.

I'm using like this:
[code]

It looks like you can pass an array of **URL** so I still don't know how to access them. I'm using **JSMpeg** to display on the frontend. But I still couldn't display multiple rtsp cameras.

[2020-05-14 06:43] spksoft commented on #56
@ivanantunes I think you cannot set a streamUrl as a array of string because from the `mpeg1muxer.js ` file line 11 there does not extract any array. From the code I sure that streamUrl must be string only.

[2020-05-15 00:09] Aditya-Ace commented on #39
Finally, It worked. Why didn't I come here before!
Thanks alot.

[2020-05-15 10:15] ivanantunes commented on #56
@spksoft you're right, I had to open several ports to stream.

[code]
I'm reading my posts from a **.ini** in case I get an array of **"cameras"** where the url and name are. I don't know if so and a good way to do it. more is working for me right now.

[2020-05-15 22:12] sallo1723 opened #60 "Resize rtsp streaming on client side"
I'm streaming an ip camera and i need to resize the video of the streaming. I tried resizing the canvas and it doesn't work. I also tried create a new stream with different ffmpeg flags and a new JSMpeg.Player() on the same port, and it doesn't work.

Any ideas?

[2020-05-21 22:23] sallo1723 commented on #60
I found the way to resize the output in a previous closed issue.

[2020-05-21 22:23] #60 closed

[2020-06-08 08:52] pixotri opened #61 "How to detect if video is already streaming?"
How to detect programmatically if video is already streaming?
Is there any kind if flag or method which can help me know if video is streaming or there is no video signal from camera?

[2020-06-15 15:30] lxtrungg opened #63 "Deploy on Heroku"
Hello, I cannot deploy my stream server on Heroku, because it have issue with the ws Port. Heroku just allow one Port but I need 2 to (ws Port and Server Port) to play stream. Anyone can help me?
Thank you so much!

[2020-06-24 17:08] kingyazh opened #64 "you cloud add some ffmpeg's params like this"
`this.spawnOptions = [
    ...this.frontFlags,
    "-i",
    this.url,
    ...this.midFlags,
    '-f',
    'mpegts',
    '-codec:v',
    'mpeg1video',
    // additional ffmpeg options go here
    ...this.additionalFlags,
    '-'
  ]`

[2020-07-07 16:01] tamaker commented on #58
not sure if this is still an issue for you but I was able to open ports assigned to each node app instance on my router and have off prem access.

[2020-07-10 18:31] rogeliozx commented on #63
you need to create env var , let me check how they are done

[2020-07-10 18:33] rogeliozx commented on #64
let me check that with the library but if it doesn't work I recommend dividing it into microservices

[2020-07-11 06:54] lxtrungg commented on #63
Hello, this is basic code:
-------------------------------
Server:
var express = require('express');
var app = express();
app.use(express.static('public'));
app.set('views', './views');
app.set('view engine', 'ejs');

var server = require('http').Server(app);

app.use('/camera1', (req, res) => res.render(camera1))

Stream = require('node-rtsp-stream')
stream = new Stream({
    name: 'Camera1',

[2020-07-11 06:54] lxtrungg commented on #63
Hello, this is basic code:
-------------------------------
Server:
var express = require('express');
var app = express();
app.use(express.static('public'));
app.set('views', './views');
app.set('view engine', 'ejs');

var server = require('http').Server(app);

app.use('/camera1', (req, res) => res.render(camera1))

Stream = require('node-rtsp-stream')
stream = new Stream({
    name: 'Camera1',

[2020-07-11 06:54] lxtrungg commented on #63
Hello, this is basic code:
-------------------------------
Server:
var express = require('express');
var app = express();
app.use(express.static('public'));
app.set('views', './views');
app.set('view engine', 'ejs');

var server = require('http').Server(app);

app.use('/camera1', (req, res) => res.render(camera1))

Stream = require('node-rtsp-stream')
stream = new Stream({
    name: 'Camera1',

[2020-07-11 06:54] lxtrungg commented on #63
Hello, this is basic code:
-------------------------------
Server:
var express = require('express');
var app = express();
app.use(express.static('public'));
app.set('views', './views');
app.set('view engine', 'ejs');

var server = require('http').Server(app);

app.use('/camera1', (req, res) => res.render(camera1))

Stream = require('node-rtsp-stream')
stream = new Stream({
    name: 'Camera1',

[2020-07-11 06:56] lxtrungg commented on #63
Hello, this is basic code:
-------------------------------
Server:
var express = require('express');
var app = express();
app.use(express.static('public'));
app.set('views', './views');
app.set('view engine', 'ejs');

var server = require('http').Server(app);

app.use('/camera1', (req, res) => res.render(camera1))

Stream = require('node-rtsp-stream')
stream = new Stream({
    name: 'Camera1',

[2020-07-11 06:56] lxtrungg commented on #63
Client:

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.64">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Surveillance Camera</title>
</head>
<body>

</body>
<canvas id="canvas" width="auto" height="auto"></canvas>
<script type="text/javascript" src="jsmpeg.min.js"></script>
<script type="text/javasc

[2020-07-14 01:15] ScribbleNerd opened #65 "Any way to get audio with this"
Is there a way to also embed audio to the page with this?

[2020-07-17 14:17] rmsaitam opened #66 "View 9 cameras on page web simultaneously"
I currently have several cameras with RSTP, so I tried to run the Stream object instance on the server more than once.

After consulting the database, I fill in the data to create the corresponding RTSP URL.

However, it only displays the first and the others do not.

I will want to view 9 cameras on page web simultaneously.   Is that possible with node-rtsp-stream?

Then, in the stream object eve

[2020-07-24 15:15] Kavyeshs41 commented on #57
For the sake of simplicity I've created a docker image. you can use it directly.

more details in description of docker hub.

https://hub.docker.com/r/kavyesh/node-rtsp-ws

[2020-07-24 16:18] kyriesent commented on #44
This seems to be resolved so I am closing. Feel free to open another issue if need be.

[2020-07-24 16:18] #44 closed

[2020-07-24 16:20] kyriesent commented on #51
Unfortunately I don't have any angular experience so I'm not going to be much use.

This seems to be resolved for now so I am closing. Feel free to open another issue if need be.

[2020-07-24 16:20] #51 closed

[2020-07-24 16:20] kyriesent commented on #52
This seems to be resolved so I am closing. Feel free to open another issue if need be.

[2020-07-24 16:20] #52 closed

[2020-07-24 16:23] #53 closed

[2020-07-24 16:24] kyriesent commented on #53
I've merged #54. As far as you know, is there any downside to forcing TCP? Seems like there are very few streams that use UDP now for RTSP but I'm not sure. Any feedback is appreciated, thanks!

[2020-07-24 16:26] kyriesent commented on #56
@spksoft This is correct. Each RTSP stream will need its own port.

If there is enough demand for this I'm open to considering adding multiple streams/port as a feature. However, it might cause some breaking interface changes so it'd need to be a compelling case.

[2020-07-24 16:26] #56 closed

[2020-07-24 16:27] kyriesent commented on #57
@Kavyeshs41 wow thank you! This is great!

[2020-07-24 16:27] #57 closed

[2020-07-24 17:01] kyriesent commented on #61
Currently there isn't one; it'd have to come straight from ffmpeg and we'd have to parse the output. I don't have bandwidth to figure it out but if there's a clear signal from ffmpeg that video signal has been dropped then we might be able to do this.

[2020-07-24 17:03] pixotri commented on #61
I think it would nice and cool feature for stream from camera.

пт, 24 июл. 2020 г., 19:01 David Jsa <notifications@github.com>:

[2020-07-24 17:05] kyriesent commented on #63
Unfortunately AFAIK Heroku only allows one port, meaning this project will only support one camera and nothing else.

You could try running two heroku apps, one for the browser and one for the camera stream.

If we end up going with a single-server model similar to #59 then that might solve this issue though.

[2020-07-24 17:06] kyriesent commented on #64
@kingyazh I might add an option to do something like:

[code]

and just drop it straight in. Thoughts?

[2020-07-24 22:31] kyriesent commented on #65
Looks like [JSMPEG added audio support](https://github.com/phoboslab/jsmpeg#encoding-videoaudio-for-jsmpeg) a while ago, so this should actually be pretty easy to accomplish. I think we just need to update the ffmpeg params to make this happen, so this will probably be a feature I try to implement soon.

[2020-07-24 22:33] kyriesent commented on #66
Currently with the project as is, you'd need to open 9 separate ports with 9 separate servers for 9 separate streams. This isn't optimal and is getting pretty heavily requested, so I may consider adding this, but it'll probably be a while. It would need a significant rewrite and need backwards compatibility.

See #56

[2020-08-07 07:52] Keemerie opened #67 "Artifacts"
Hi, i want some help. I have ip cam and need translate video in browser but i have artifacts.
I try many attempts but nothing help.
My current ffmpeg '-i rtsp://link  -f mpegts - '
![изображение](https://user-images.githubusercontent.com/35232695/89622381-a223b100-d89b-11ea-80b3-9318a8707dca.png)

[2020-08-07 09:30] xeriom23823 opened #68 "Non-monotonous DTS in output stream 0:1"
I build my own rtsp server and follow the steps, and actually success to stream in the first 10 secs.
But these Non-monotonous DTS...(like the log below) happens, and my stream stop.
Do you have any ideas what cause the issue happen?

[code]

[2020-08-08 13:42] kyriesent commented on #68
Unfortunately I've never seen this before. Might be worth checking for this error elsewhere.

Since this doesn't appear to be an issue with this library I'm closing.

[2020-08-08 13:42] #68 closed, assigned to nobody

[2020-08-08 13:45] kyriesent commented on #67
This might be due to the encoding requirements of JSMPEG. I think I've seen something similar when the video isn't encoded correctly. See here: https://github.com/phoboslab/jsmpeg#encoding-videoaudio-for-jsmpeg

Are you using the default settings from the library or are you customizing the arguments to FFMPEG?

[2020-08-09 11:58] Keemerie commented on #67
I tried use settings from jsmpeg examples and default

[2020-08-09 22:31] ShinichiroMike opened #69 "UDP timeout, retrying with TCP"
Hello.
I have ffmpeg working correctly, but within my application I get this error: UDP timeout, retrying with TCP and I don't get the stream working.
Any solution for this?

[2020-08-29 18:14] Kavyeshs41 commented on #48
Can we use webservers to offload SSL/TLS termination?
NGINX or Apache can easily handle SSL/TLS terminations for wss.
Isn't that a good idea?

[2020-09-10 04:31] shuaiutopia opened #71 "设置ffmpeg参数失效例如"rtsp_transport":"tcp""
ffmpeg参数设置只对出口(output)参数有效, 对input参数无效甚至报错

[2020-09-10 04:41] shuaiutopia commented on #71
刚看到已经有了'Adding -rtsp_transport tcp params to ffmpeg'更新, npm是还是旧版本

[2020-09-14 06:46] shuaiutopia opened #72 "videoStream.js中inputStreamStarted属性好像没用"
videoStream.js中inputStreamStarted属性好像一直都是false, 所以里面的if条件判断没用. 但是在文件mpeg1muxer.js中有设置inputStreamStarted为true, 但并未调用

[2020-09-23 07:41] KidsBen7 commented on #69
Hello, did you solve this problem???
I have the same problem, UDP timeout, retrying with TCP and I don't get the stream working.
Help please, Help please, Help please!

[2020-10-17 10:34] ali-tafakkori commented on #69
Hi,
Use 0.0.7 version

[2020-10-17 12:14] ali-tafakkori commented on #69
But I suggest using version 0.0.3.

[2020-10-17 15:07] Ashwin-Ramesh2607 opened #73 "Fixed Video Dimensions"
Hi, when I create the canvas element and set a size (example width=400 and height=400), I am able to set my layout on the HTML before the stream starts. Now when I start the RTSP stream, the dimensions of my RTSP stream override the size of the canvas. As a result, the stream occupies (960 * 540) on the HTML page, and it messes up the layout entirely. Can you please suggest a fix?

[2020-10-20 21:20] EverlyScott opened #74 "'RTSP stream exited with error' when trying to use rtsp via public ip"
I'm trying to allow my app to view an rtsp stream through my public ip instead of locally. My current code is:
[code]

and when running that, I get the following error:

[code]

When entering the same URL into VLC Player on the same computer, it plays just fine, also using the local ip address (rtsp://192.168.1.51/cam1/mpeg4) works fine

[2020-10-20 22:19] EverlyScott commented on #74
This seems like an issue with ffmpeg. Modifying the node-rtsp-stream code to console log the args and then running ffmpeg with those args produces the same issue.

[2020-10-27 22:04] florinnichifiriuc commented on #65
You can use
`
ffmpegOptions: { // options ffmpeg flags
    '-stats': '', // an option with no neccessary value uses a blank string
    '-r': 25, // options with required values specify the value after the key
    '-codec:a': 'mp2',
    '-ar': 44100,
    '-ac': 1,
    '-b:a':'128k'
  }

`

[2020-10-27 22:47] florinnichifiriuc commented on #73
Use `'-vf':'scale=400:400'` to your ffmpegOptions

    stream = new Stream({
     name: 'name',
     streamUrl: 'rtsp://wowzaec2demo.streamlock.net/vod/mp4:BigBuckBunny_115k.mov',
     wsPort: 9999,
     ffmpegOptions: { // options ffmpeg flags
      '-stats': '', // an option with no neccessary value uses a blank string
    //  '-r': 15, // options with required values specify the value after the

[2020-11-01 12:21] Ashwin-Ramesh2607 commented on #73
@florinnichifiriuc Thanks, that worked like a charm. I like this solution, as opposed to resizing on the UI since lesser data is streamed this way.

[2020-11-01 12:21] #73 closed, assigned to nobody

[2020-11-23 10:21] dmwhw commented on #53
i think it is a good idea to  provides a option for user fill before "-i". as far as you know , there are other options ,such as "hwaccel " , which might be filled before "-i";
just like this...

`    this.spawnOptions = [
         ...this.preAdditionalFlagsBefore,
         "-i",

        "\""+this.url +"\"", //url
        '-f', 'mpegts', '-codec:v', 'mpeg1video',
        // additional ffmpeg opti

[2020-11-24 04:55] hongson23 commented on #44
hello @kyriesent
I tested with the situation, while node server was processing so RTSP was down(about 2-3 minutes) after that it back online node server still working, I can see log information in terminal but jsmpeg can not show anythings on the clients
pls help! thanks

[2020-11-24 15:53] maddanio opened #76 "adressable streams"
Hi,
This is very cool! Would it be hard to make it so many streams can be hosted on the same port? I.e. that I can specify from the client which of many streams I want? In our case there are easily 100 streams to choose from, and to set up separate ports for each (which would need maintenance in proxies and/or firewalls) would be quite burdensome. Also not afraid to get my hands dirty and helpt

[2020-12-08 12:46] leshy commented on #76
there is a PR implementing this (in a bit of a manual way) here
https://github.com/kyriesent/node-rtsp-stream/pull/75/

[2021-01-13 10:42] erikmartinjordan opened #77 "Electron application without FFMpeg"
I'm building an Electron application, which launches an Express server in the background and sends back a stream as a response.

Sample code:

[code]
It seems that `node-rtsp-stream` isn't creating the WebSocket and sending the stream. I guess it's failing because FFMpeg isn't installed on the server.

The problem is that it's a client application and I don't have control if the user has FFMpeg in

[2021-01-13 11:57] erikmartinjordan commented on #77
Ok, I figured out that you can install `ffmpeg-static` to include FFMpeg as a binary library (no need to preinstall FFMPeg in your computer).

Then, you can include `ffmpegPath` as an option in the stream:

[code]

Props to Alexander Cleasby, and his [useful article](https://alexandercleasby.dev/blog/use-ffmpeg-electron).

[2021-01-22 05:42] punjasin commented on #77
@erikmartinjordan for me my pc have ffpmpeg install but when we build the app to .app for macos the ffmpeg is not loaded even i try using static
![image](https://user-images.githubusercontent.com/9058090/105451508-41542d80-5caf-11eb-81fc-d7538501342e.png)

[2021-01-23 10:29] erikmartinjordan commented on #77
Could you share your code @punjasin?

[2021-02-22 09:33] DucThanh1997 opened #78 "How to use h264_nvenc in ffmpegOptions"
I'm trying to build electron app in jetson nano to stream a camera. Unfortunately, with default ffmpeg options. it take all 4 threads with 90% percentage
![image](https://user-images.githubusercontent.com/45547213/108688042-0b160200-752a-11eb-95b9-23ccf86b50ba.png)

So I tried to let gpu handle it with this command and it ran smoothly
[code]
but when i implement it to node-rtsp-stream with this ff

[2021-02-22 11:40] ghost opened #79 "Connection timed out后无法重连"
rtsp://11111.com:554/: Connection timed out56 bitrate= 842.3kbits/s dup=0 drop=85 speed=   1x
rtsp://11111.com:554/: Connection timed out00 bitrate= 842.2kbits/s dup=0 drop=85 speed=0.999x
rtsp://11111.com:554/: Connection timed out08 bitrate= 842.2kbits/s dup=0 drop=85 speed=0.998x
rtsp://11111.com:554/: Connection timed out16 bitrate= 842.2kbits/s dup=0 drop=85 speed=0.997x
rtsp://11111.com:554/

[2021-03-26 05:34] dharders commented on #67
I found similar artifacts like @SashaRevizov when my camera (NVR) was streaming H265 format. Changing the camera configuration to stream H264 fixed it.

[2021-06-10 07:04] GuchaoGit opened #82 "can the stream created by server be closed?"
I want to close the stream which is no connecting by web

[2021-06-22 05:44] Dipenduroy commented on #56
@kyriesent Can you add the multiple rtsp support in the same port? I am using [https://github.com/k-yle/rtsp-relay#usage-with-many-cameras](https://github.com/k-yle/rtsp-relay#usage-with-many-cameras) for the same functionality, but i am unable to get best video quality in it compared to your **node-rtsp-stream** library. I tried the suggested [options](https://github.com/k-yle/rtsp-relay#improvin

[2021-07-05 04:52] NasserAlmanji opened #84 "Disconnected camera"
The module works well.

In case the camera is disconnected (unplug the cable) and then connect, the module does not detect that and the process needs a restart to see the media again in browser.

Kind regards,
Nasser

[2021-07-08 02:11] wizzfizz94 commented on #69
Couldn't get a stream with v0.0.3 or v0.0.7. I think the older versions are not compatible with the latest versions of JSMpeg.
Best solution for me was to install directly from the repo (not npm).
[code]

[2021-07-08 08:30] llindor commented on #84
Same issue here.

I tried passing some http options to ffmpeg but it has no effect :

[code]
The process need to restart to see the video too.

[2021-07-08 15:08] OmanCoding commented on #84
Thanks for clarification

[2021-07-13 08:41] ali-tafakkori commented on #69
@wizzfizz94
use ffmpeg
you can download it from https://ffmpeg.org/

good luck

[2021-07-19 00:28] wizzfizz94 commented on #69
But @ali-tafakkori i like this module :( ffmpeg doesn't create a streaming server unless you use it with ffserver which is a pain to configure and not node based.

[2021-10-23 13:02] uk2nk opened #85 "Some RTSP URL not working"
`stream = new Stream({
  name: input.url,
  streamUrl: input.url,
  wsPort: input.port,
  ffmpegOptions: {
    '-stats': '',
    '-r': 20,
	'-s': '640x480',
	'-aspect':'4:3'
  }
`});``

I'm using the above code for rtsp URL Stream. Most of the URL workig fine but few URL's are not working & throwing error like below,

_

_

Please help me on the above issue.

[2021-11-18 11:52] Mathivanan1803 commented on #37
I am facing error when I try to change the RTSP URL dynamically in node-rtsp-stream, can anyone help me to fix this.

my error is look like this:
[code]
and my post API is :
[code]

[2021-12-01 07:59] mmdiyul commented on #74
any solution for this issue?

[2022-04-18 09:28] KONAPAVANKUMAR opened #86 "How to stream from USB Camera"

[2022-07-03 00:42] Wesley-Fernandes commented on #79
What is the question?

[2022-07-28 05:00] enddyrama opened #87 "PORT ALREADY IN USE"
How to detect programmatically if Port already in use?
Is there any kind if flag or method which can help me know if port is already in use?
is there any way to stream.stop() if i use POST method without Error: listen EADDRINUSE: address already in use?

[2022-08-03 10:29] BenjaminHerrera commented on #85
Facing same issue as well with own test streams and other test streams

[2022-09-12 15:15] aitoncumbi opened #88 "Support for authentication"
please add authentication support (username & password)

[2022-09-15 13:27] YasharSL opened #89 "CORS policy"
I have implemented an rtsp stream inside Nextjs api routes. I get a CORS error when I try to connect to the websocket. is there an option to set CORS policy for the stream?

[2022-11-10 03:23] jzzxh commented on #48
I found the solution that using nginx proxy transport ws to wss, the url would be like  **ws://localhost/websocket**

Config of Nginx
///
		location /websocket {
			proxy_pass http://localhost:9999;
			proxy_set_header X-Real-IP $remote_addr;
			proxy_set_header Host $host;
			proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
			proxy_http_version 1.1;
			proxy_set_header Upgrade $http_